<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corinthians</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<header class="bg sticky-top"  style="box-shadow:0px 0px 5px 10px rgb(48, 48, 48);">

  <nav class="navbar bg-black navbar-dark navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" style="font-family: 'Tangerine', cursive; font-size: 30px;" href="/">
        </a>
        <button class="navbar-toggler btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">  
                <i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/elenco">Elenco</a></li>
                <li class="nav-item"><a class="nav-link" href="/titulos">Titulos</a></li>
            </ul>
        </div>
    </div>
</nav>


<div>
  <img class="img1 fixed-top" src="static/img/sccp_escudo.png" style="margin:auto">
</div>
<div>
  <h1>Corinthians<h1>
</div>


    {% block content %}

    {% endblock %}
<footer>
    <p>&copy; 2024 Site do Corinthians. Todos os direitos reservados.</p>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>