{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<style>
  body {
    background-color: #606060;
  }
</style>
    <p>Informações sobre os títulos conquistados na história do clube</p>
</header>

<main>
   <h4 class="my-4 text-white">Sport Club Corinthians Paulista é uma das equipes mais vitoriosas do futebol brasileiro, com uma história repleta de conquistas memoráveis. Desde sua fundação em 1910, o Corinthians acumulou uma impressionante coleção de títulos, abrangendo campeonatos estaduais, nacionais e internacionais. Explore abaixo os principais momentos que marcaram a trajetória gloriosa deste clube lendário.</h4>

   <!-- Carousel -->
<div id="demo" class="carousel slide container-fluid col-12" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="rounded img-thumbnail" src="/static/img/brasileirao2015.jpg" alt="brasileirao2015" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img class="rounded img-thumbnail" src="/static/img/mundial2012.jpg" alt="mundial2012" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img class="rounded img-thumbnail" src="/static/img/paulistao2017.jpg" alt="paulistao2017" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img class="rounded img-thumbnail" src="/static/img/cdb2009.jpg" alt="cdb2009" class="d-block w-100">
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

  <h4 class="my-4 text-white">Desde sua fundação em 1910, o Corinthians acumulou uma impressionante coleção de títulos, abrangendo campeonatos estaduais, nacionais e internacionais. Entre suas conquistas mais notáveis estão o Campeonato Brasileiro de 1990, a Copa Libertadores da América e o Mundial de Clubes da FIFA, ambos em 2012. Com uma torcida apaixonada e uma história de glórias, o Corinthians se destaca como um dos grandes do futebol brasileiro.Agora, vamos ver essa tabela com todos os títulos.</h4>
  
    <section id="titulos">
        <h2>Títulos Conquistados</h2>
        <div class="container mt-3">
          <table class="table">
            <thead class="table-dark">
              <tr>
                <th>Troféus</th>
                <th>Competições</th>
                <th>Títulos</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td align="center"><img src="static/img/mundial.png" alt="mundial" class="trophy-image"></td>
                <td>Mundial de Clubes da FIFA</td>
                <td>2</td>
              </tr>
              <tr>
                <td align="center"><img src="static/img/libertadores.png" alt="libertadores" class="trophy-image"></td>
                <td>Copa Libertadores da América</td>
                <td>1</td>
              </tr>
              <tr>
                <td align="center"><img src="static/img/brasileirao.png" alt="brasileirao" class="trophy-image"></td>
                <td>Campeonato Brasileiro</td>
                <td>7</td>
              </tr>
              <tr>
                <td align="center"><img src="static/img/copadobr.png" alt="copadobr" class="trophy-image"></td>
                <td>Copa do Brasil</td>
                <td>3</td>
              </tr>
              <tr>
                <td align="center"><img src="static/img/paulistao.png" alt="paulistao" class="trophy-image"></td>
                <td>Campeonato Paulista</td>
                <td>30</td>
              </tr>
              <tr>
            </tbody>
          </table>

            <!-- Adicione mais títulos conforme necessário -->
        </ul>
    </section>
</main>
{% endblock %}